<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link th:href="@{/css/common.css}" rel="stylesheet" />
   <link th:href="@{/css/add.css}" rel="stylesheet" />
<!--  <link rel="stylesheet" href="/static/css/common.css" />-->
<!--  <link rel="stylesheet" href="/static/css/add.css" />-->
  <title>커뮤니티 게시판</title>
</head>

<body>
<div class="wrap">
  <div class="inner">

    <!-- Header -->
    <header class="header">
      <div class="header_wrap">
        <div class="header_box logo"><a th:href="@{/}">JINIOUS</a></div>
        <div class="header_box header-icons">
          <span>로그인</span>
          <span><a href="http://www.naver.com" th:href="@{/members/join}">회원가입</a></span>
        </div>
      </div>
    </header>

    <!-- Category Menu -->
    <nav class="category-menu">
      <ul>
        <li>전체메뉴</li>
        <li>SHOP</li>
        <li><a th:href="@{/boards}">커뮤니티</a></li>
      </ul>
    </nav>

    <!-- Main -->
    <section class="main">

      <main class="main-content">
        <h2>커뮤니티 <small>게시판</small></h2>
        <div class="board">

          <!-- 알림판 -->
          <div class="notice-box">
            <p>- 광고성 글 게시글 작성 시 이용 제한</p>
            <p>- 욕설, 비방 글 경고 없이 삭제 조치, 누적 적발 시 계정 정지</p>
          </div>

          <!-- 글쓰기 -->
          <div class="post">
            <form id="frm" class="post-form" action="/boards/add" method="post" th:object="${saveForm}">
              <div class="form-group">
                <label for="writer">작성자</label>
                <input type="text" id="writer" name="writer" placeholder="작성자를 입력해주세요"
                       th:value="${writer}" />
              </div>
              <div class="form-group">
                <label for="title">제목</label>
                <input type="text" id="title" name="title" placeholder="제목을 입력해주세요"
                       th:value="${title}" />
              </div>
              <div class="form-group">
                <label for="content">내용</label>
                <textarea id="content" name="content" placeholder="내용을 입력해주세요"
                          th:text="${content}"></textarea>
              </div>
              <div class="form-buttons">
                <button type="reset" class="btn btn-cancel">취소</button>
                <button type="submit" class="btn btn-submit">등록</button>
              </div>
            </form>
          </div>



        </div>
  </div>
  </main>

  </section>


  <!-- Footer -->
  <footer class="footer">
    <div class="footer-inner">
      <div class="footer-info">
        <div class="footer-box">
          <h4>자기소개</h4>
          <p>JINIOUS</p>
          <p>대표: 허진희 | 연락처: 010-xxxx-xxxx</p>
        </div>
      </div>
      <p class="copyright">© 2025 MO:SI. All rights reserved.</p>
    </div>
  </footer>
</div>
</div>

<script type="module">
  //등록 유효성
  //저장
  import { getBytesSize } from '/js/common.js';

  const btnUpdate = document.getElementById('btnUpdate');

  const frm = document.getElementById('frm')
  const title = document.getElementById('title');
  const content = document.getElementById('content');
  const writer = document.getElementById('writer');
  const error = document.getElementById('error');

  btnUpdate.addEventListener('click', e => {
      e.preventDefault(); //submit 기본 동작(제출, 새로고침 등) 방지. 제출하기 전에 유효성 검사해야하니까.

      //유효성 체크
      // console.log('등록버튼 클릭됨!')`


      //작성자
      if (writer.value.length == 0) {
          console.log('작성자명을 입력하세요.')
          error.textContent = '작성자명을 입력하세요.'
          writer.focus();
          return;
      } else if (getBytesSize(writer.value) > 30) {
          error.textContent = '작성자명은 10자를 초과할 수 없습니다.'
          writer.focus();
          return
      } else {
          error.textContent = '';
      }


      //제목
      if (title.value.length == 0) {
          console.log('제목을 입력하세요.')
          error.textContent = '제목을 입력하세요'
          title.focus();
          return;
      } else if (getBytesSize(title.value) > 100) {
          error.textContent = '제목은 100자를 초과할 수 없습니다.'
          title.focus();
          return
      } else {
          error.textContent = '';
      }

      //본문
      if (content.value.length == 0) {
          console.log('본문을 입력하세요.')
          error.textContent = '내용을 입력하세요'
          content.focus();
          return;
      } else if (getBytesSize(content.value) > 30000) {
          error.textContent = '내용은 3000자를 초과할 수 없습니다.'
          content.focus();
          return
      } else {
          error.textContent = '';
      }

      console.log("Content Value: ", content.value);
      frm.submit();

  }, false);


  // 취소
  const $btnCancel = document.getElementById('btnCancel');
  $btnCancel.addEventListener('click', e => {
      location.href = `/boards`  //get http://localhost:9090/boards/${boardId}
  }, false);

</script>


</body>

</html>