<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/all.css}" rel="stylesheet">
    <!-- <link href="/static/all.css" rel="stylesheet"> -->
    <title>게시글목록</title>
</head>

<body>
    <!-- Header -->
    <header class="header"></header>

    <!-- Main Content -->
    <main class="main">
        <div class="main-content">
            <h2 class="title">자유게시판</h2>
            <div class="notice">검색</div>
            <div class="content">
                <form class="form">
                    <table>
                        <thead>
                            <tr>
                                <th>순번</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>작성일</th>
                                <th>수정일</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            <tr th:each="board:${list}">
                                <td th:text="${board.boardId}">1</td>
                                <td><a th:href="@{/boards/{id}(id=${board.boardId})}" th:text="${board.title}">부산 만두 찐맛집 코스 추천좀요</a></td>
                                <td th:text="${board.writer}">허진희</td>
                                <td th:text="${board.createdAt}">2025-05-15</td>
                                <td th:text="${board.updatedAt}">2025-05-15</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <div class="button-write">
                    <button><a th:href="@{/boards/add}">글쓰기</a></button>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer"></footer>
</body>

</html>