











const $btnDelete = document.getElementById('btnDelete');
$btnDelete.addEventListener('click', e=>{
const $productId = document.getElementById('productId');
const id = $productId.value;
//console.log(`id = ${id}`);
//if(window.confirm('삭제하시겠습니까?')) {
//  location.href = `/products/${id}/del`;         // get http://localhost:9080/products/상품아이디/del
//}

const $modalDel = document.getElementById("modalDel");
const $btnYes = document.querySelector(".btnYes");
const $btnNo = document.querySelector(".btnNo");

//모달창 띄우기
$modalDel.showModal();// modal

$modalDel.addEventListener('close',e=>{
console.log($modalDel.returnValue);
if($modalDel.returnValue == 'yes'){
location.href = `/products/${id}/del`;         // get http://localhost:9080/products/상품아이디/del
}else{
return;
}
});

$btnYes.addEventListener("click", e => {
$modalDel.close("yes");
});

$btnNo.addEventListener("click", e => {
$modalDel.close("no");
});
}, false);
