<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/detailForm.css" rel="stylesheet">
    <title>자유게시판</title>
</head>

<body>
    <!-- Header -->
    <header class="header"></header>

    <!-- Main Content -->
    <main class="main">
        <div class="main-content">
            <h2 class="title">자유게시판</h2>
            <div class="notice">공지</div>
            <div class="content">
                <form class="form">
                    <div class="content-title">제목</div>
                    <div class="form-info">
                        <div class="form-info-item info-writer">
                            <div class="items">작성자</div>
                            <input class="items" type="text" readonly>
                        </div>
                        <div class="form-info-item info-created">
                            <div class="items">작성일</div>
                            <input class="items" type="text" readonly>
                        </div>
                        <div class="form-info-item info-updated">
                            <div class="items">수정일</div>
                            <input class="items" type="text" readonly>
                        </div>
                    </div>
                    <div class="form-body">
                        <input type="text">
                    </div>
                </form>
            </div>
            <div class = "reply">
                댓글창
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer"></footer>
</body>

</html>