<!DOCTYPE html>
<html lang="en">
  <html xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link th:href="@{/css/detailForm.css}" rel="stylesheet" />
      <!-- <link href="/static/css/detailForm.css" rel="stylesheet"> -->
      <title>게시글 상세</title>
    </head>

    <body>
      <!-- UpperMost-->
      <div class="uppermost">
        <div class="member">
          <button class="btn member_login">log in</button>
          <button class="btn member_join">join</button>
        </div>
      </div>

      <!-- Header -->
      <header class="header"></header>

      <!-- Main Content -->
      <main class="main">
        <div class="main-content">
          <h2 class="title">자유게시판</h2>
          <div class="notice">공지</div>
          <div class="content-title">
            <input
              th:value="${detailForm.title}"
              class="content-title-input"
              type="text"
            />
          </div>
          <div class="content">
            <form class="form" method="" th:object="${detailForm}">
              <div class="form-info">
                <div class="form-info-item info-boardId">
                  <div class="items-label">순번</div>
                  <input
                    id="boardId"
                    th:value="${detailForm.boardId}"
                    class="items"
                    type="text"
                    readonly
                  />
                </div>
                <div class="form-info-item info-writer">
                  <div class="items-label">작성자</div>
                  <input
                    th:value="${detailForm.writer}"
                    class="items"
                    type="text"
                    readonly
                  />
                </div>
                <div class="form-info-item info-created">
                  <div class="items-label">작성일</div>
                  <input
                    th:value="${#temporals.format(detailForm.createdAt, 'yyyy-MM-dd HH:mm:ss')}"
                    class="items"
                    type="text"
                    readonly
                  />
                </div>
                <div class="form-info-item info-updated">
                  <div class="items-label">수정일</div>
                  <input
                    th:value="${#temporals.format(detailForm.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"
                    class="items"
                    type="text"
                    readonly
                  />
                </div>
              </div>
              <div class="form-body">
                <textarea
                  th:text="${detailForm.content}"
                  class="form-body-input"
                  readonly
                ></textarea>
              </div>
              <div class="button-group">
                <button class="bnt bnt-update" type="button" id="btnUpdate">
                  수정
                </button>
                <button class="bnt bnt-delete" type="button" id="btnDelete">
                  삭제
                </button>
                <button class="bnt bnt-list" type="button" id="btnFindAll">
                  목록
                </button>
              </div>
            </form>
          </div>
          <div class="reply">
            <div class="reply_main">
              <form id="commentForm" class="form_reply">
                <input
                  type="hidden"
                  id="boardIdHidden"
                  th:value="${detailForm.boardId}"
                />
                <div class="form_group form_writer">
                  <input
                    id="writer"
                    class="input-writer"
                    type="text"
                    name="writer"
                    placeholder="작성자"
                    th:value="${writer}"
                    required
                  />
                </div>
                <div class="reply_cnt_btn">
                  <div class="form_group form_content_reply">
                    <textarea
                      id="content"
                      class="input_reply"
                      name="content"
                      placeholder="바른말 고운말"
                      th:value="${content}"
                      required
                    ></textarea>
                  </div>

                  <div class="button-group_reply">
                    <button
                      id="btnUpdate_reply"
                      type="submit"
                      class="btn_reply submit_reply"
                    >
                      등록
                    </button>
                    <button
                      id="btnCancel_reply"
                      type="button"
                      class="btn_reply cancel_reply"
                    >
                      취소
                    </button>
                  </div>
                </div>
                <span id="error_reply"></span>
              </form>
            </div>
            <div class="reply_list">목록</div>
            <div id="reply_pagenation"></div>
          </div>
        </div>
      </main>

      <!-- Footer -->
      <footer class="footer"></footer>

      <dialog id="modalDel">
        <p>삭제하시겠습니까?</p>
        <button class="btnYes">예</button>
        <button class="btnNo">아니오</button>
      </dialog>

      <script type="module" src="/js/comment/detailForm.js"></script>
      <script type="module" src="/js/comment/comment.js"></script>
    </body>
  </html>
</html>
