<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link th:href="@{/css/common.css}" rel="stylesheet" />
  <link th:href="@{/css/detailForm.css}" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="/static/css/common.css" /> -->
  <!-- <link rel="stylesheet" href="/static/css/detail.css" /> -->

  <title>커뮤니티 게시판</title>
</head>

<body>
<div class="wrap">
  <div class="inner">

    <!-- Header -->
    <header class="header">
      <div class="header_wrap">
        <div class="header_box logo"><a th:href="@{/}">JINIOUS</a></div>
        <div class="header_box header-icons">
          <span>로그인</span>
          <span><a href="http://www.naver.com" th:href="@{/members/join}">회원가입</a></span>
        </div>
      </div>
    </header>

    <!-- Category Menu -->
    <nav class="category-menu">
      <ul>
        <li>전체메뉴</li>
        <li>SHOP</li>
        <li><a th:href="@{/boards}">커뮤니티</a></li>
      </ul>
    </nav>

    <!-- Main -->
    <section class="main">

      <main class="main-content">
        <h2>커뮤니티 <small>게시판</small></h2>
        <div class="board">
          <!-- 게시글 상세 -->
          <div class="post-container" th:object="${detailForm}">
            <input type="hidden" id="boardId" th:value="*{boardId}" />
            <h3 class="title" th:text="*{title}">제목</h3>
            <div class="writer" th:text="*{writer}">작성자</div>
            <div class="date-group">
              <span class="date cdate"
                    th:text="${#temporals.format(detailForm.createdAt, 'yyyy-MM-dd HH:mm:ss')}">작성일
              </span>
              <span class="date udate"
                    th:text="${#temporals.format(detailForm.updatedAt, 'yyyy-MM-dd HH:mm:ss')}">수정일</span>
            </div>
            <hr>
            <div class="content" th:text="*{content}">
              내용
            </div>
          </div>

          <!-- 버튼그룹 -->
          <div class="write">
            <button class="btn bnt-update" type="button" id="btnUpdate">수정</button>
            <button class="btn bnt-delete" type="button" id="btnDelete">삭제</button>
            <button class="btn bnt-list" type="button" id="btnFindAll">목록</button>
          </div>



          <!-- 댓글 영역 -->
          <div class="comments-section">
            <div class="comment-input">
              <form class="comment-form" id="commentForm">
                <input type="hidden" id="boardIdHidden" th:value="${detailForm.boardId}" />
                <input placeholder="아무개" type="text" name="writer" id="writer" th:value="${writer}">
                <textarea placeholder="댓글을 입력해주세요" name="content" id="content" th:text="${content}"></textarea>
                <div class="button-group">
                  <button class="btn " id="btnUpdate_reply" type="submit">등록</button>
                  <button class="btn " id="btnCancel_reply" type="submit">취소</button>
                </div>
              </form>
            </div>



            <div  class="reply_list" id="reply_list">
              <div class="writer">입문자</div>
              <div class="content">잘 정리되어 있어 초보자도 쉽게 따라할 수 있겠네요. 감사합니다!</div>
            </div>

            <!-- 페이지네이션 -->
            <div class="pagination" id="reply_pagenation"></div>
          </div>
        </div>
  </main>

  </section>


  <!-- Footer -->
  <footer class="footer">
    <div class="footer-inner">
      <div class="footer-info">
        <div class="footer-box">
          <h4>자기소개</h4>
          <p>JINIOUS</p>
          <p>대표: 허진희 | 연락처: 010-xxxx-xxxx</p>
        </div>
      </div>
      <p class="copyright">© 2025 MO:SI. All rights reserved.</p>
    </div>
  </footer>
</div>
</div>

<!-- 삭제 알림창 -->
<dialog id="modalDel">
  <p>삭제하시겠습니까?</p>
  <button class="btnYes">예</button>
  <button class="btnNo">아니오</button>
</dialog>

<!-- js -->
<script type="module" src="/js/comment/detailForm.js"></script>
<script type="module" src="/js/comment/comment.js"></script>

</body>



</html>