/*========================*/
/*          Main          */
/*========================*/
.mypage-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  gap: 40px;
}



/* 게시판 */
.main-content {
  padding: 50px;
  flex: 1;
}

.main-content h2 {
  font-size: 22px;
  margin-bottom: 25px;
  color: #2f4858;
}

.board {
  /* border: 1px solid #dcd1d3; */
  background-color: #fff;
  padding: 10px;
}


/* 테이블 */
.board-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  border-radius: 8px;
}

.board-table th,
.board-table td {
  padding: 14px;
  text-align: center;
  border-bottom: 1px solid #dcd1d3;
}

.board-table th {
  background-color: #dcd1d3;
  color: #2f4858;
}

.board-table td,
.board-table td a {
  color: #2f4858;
  text-decoration: none;
}

.board-table td a:hover {
  color: #b7aab2;
  text-decoration: underline;
}


/* 글쓰기 버튼 */
.write {
  display: flex;
  justify-content: end;
  padding: 10px;
}



/* 페이지네이션 */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 8px;
}

.pagination button {
  background-color: #fff;
  border: none;
  color: #2f4858;
  padding: 6px 12px;
  cursor: pointer;
  transition: all 0.2s;
}

.pagination button:hover {
  color: #b7aab2;
}

.pagination button.active {
  background-color: #fff;
  color: #2f4858;
  font-weight: bold;}