/* * {outline: 1px solid red;} */

.uppermost{
display: flex;
flex-direction: column;
justify-content: end;
align-items: end;

    background-color: #6F82C0;
    height : 40px;
}

.member {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 15px;
    width : 150px;
    height: 30px;
}

.btn {
    width: 55px;
    height: 23px;
    border-radius: 5px;
    outline : none;
    border : none;
    
    background-color: #F3F3F9;
    color : #4E5879;
    font-weight: bold;
}

.member_login {
    margin-right: 5px;
}

body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

.header {
    background-color: #6F82C0;
    height: 180px;
}

.footer {
    background-color: #A1AAC8;
    height: 100px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #F3F3F9;
    width: 800px;
    height: 100%;
}

.title {
    color: #4E5879;
}

.content-title {
    display: flex;
    justify-content: start;
    align-items: end;

    width: 90%;
    height: 40px;
}

.content-title-input {
    height: 40px;
    width: 100%;

    box-sizing: border-box;

    background-color: #ECEEF6;

    border-width: 0;
    border-bottom: 2px solid #A1AAC8 ;
    outline: none;

    font-size: large;
    font-weight: bold;
    color:#4E5879;
}
.notice {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #C9D4F6;
    width: 90%;
    height: 100px;

    margin-top: 25px;
    box-sizing: border-box;
    padding: 20px;

}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #ECEEF6;
    width: 90%;
    height: 350px;

    box-sizing: border-box;
}



.form {
    display: flex;
    flex-direction: column;
    align-items: stretch ;

    flex-grow: 1;

    width: 100%;
    height: 100%;

    padding-top: 5px;

}

.form-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-grow: 1;

    height: 100%;

    margin-bottom: 5px;
}

.items-label {
    width: 40%;
    margin-right: 5px;

    color:#4E5879;
    text-align: center;
}

.items {
    width: 60%;
    height: 100%;

    
    background-color: white;
    border-width: 0;
    outline: none;
}

.form-body {
    display: flex;
    justify-content: center;
    align-items: start;

    width: 100%;
    height: 80%;

}

.form-body-input {
    height: 100%;
    width: 100%;

    box-sizing: border-box;

    
    background-color: white;

    border-width: 0;
    border-top: 2px solid #A1AAC8 ;
    border-bottom: 2px solid #A1AAC8 ;
    outline: none;
}


.reply {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    background-color: #A1AAC8;
    width: 90%;
    /* height: 150px; */

    padding: 15px;
    box-sizing: border-box;
    margin-top: 30px;
}

.reply_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    
}

.form_reply{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    margin: 10px;
}

.form_writer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 30px;
}

.input-writer{
    height:22px;
    padding : 0;
    border: none;
    border-radius: 2px;
    background-color: #F3F3F9;
    color: #4E5879;
}

.reply_cnt_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form_content_reply{
    flex-grow : 1;
    height: 60px;
}
.button-group_reply {
    flex-grow : 0;
}

.input_reply{
    width: 100%;
    height: 60px;

    padding : 0;
    border: none;
    border-radius: 2px;
    background-color: #F3F3F9;
    color: #4E5879;

    box-sizing: 0;
}



.button-group_reply{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 55px;
    height: 60px;

    margin-left: 10px;
}

.btn_reply{
    width: 55px;
    height: 23px;
    border-radius: 5px;
    outline : none;
    border : none;
    margin: 2.5px;
    
    background-color: #F3F3F9;
    color : #4E5879;
    font-weight: bold;
}

.btn_reply:hover{
    background-color: #6F82C0;
    color: #ECEEF6;
}

#error_reply{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;

    margin-right: 70px;
    height:20px;
}

.reply_list {
    width: 672px;
    background-color: #F3F3F9 ;

    margin-left: 9px;
}


.button-group {
    display: flex;
    justify-content: end;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;
}

.bnt {
    margin-left: 8px;
}