<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link th:href="@{/css/common.css}" rel="stylesheet" />
     <link th:href="@{/css/login.css}" rel="stylesheet" />
<!--    <link rel="stylesheet" href="/static/css/common.css" />-->
<!--    <link rel="stylesheet" href="/static/css/login.css" />-->

    <title>로그인</title>
  </head>

  <body>
    <div class="wrap">
      <div class="inner">
        <!-- Header -->
        <header class="header">
          <div class="header_wrap">
            <div class="header_box logo"><a th:href="@{/}">JINIOUS</a></div>
            <div class="header_box header-icons">
              <span>로그인</span>
            </div>
          </div>
        </header>

        <!-- Main -->
        <section class="main-login">
          <h1>로 그 인</h1>
          <div class="banner-text">
            <form

              th:method="post"
              th:object="${loginForm}"
            >
              <div th:if="${#fields.hasGlobalErrors()}">
                <p
                  class="global-err"
                  th:each="err:${#fields.globalErrors()}"
                  th:text="${err}"
                ></p>
              </div>

              <div class="login-info">
                <label th:for="email">이메일</label
                ><input type="text" th:field="*{email}" />
                <div
                  class="field-err"
                  th:each="err : ${#fields.errors('email')}"
                >
                  <span th:text="${err}"></span>
                </div>
              </div>
              <div class="login-info">
                <label th:for="passwd">비밀번호</label
                ><input type="password" th:field="*{passwd}" />
                <div
                  class="field-err"
                  th:each="err : ${#fields.errors('passwd')}"
                >
                  <span th:text="${err}"></span>
                </div>
              </div>
              <div class="btn-group">
                <button class="btn">로그인</button>
              </div>
            </form>
          </div>
        </section>

        <!-- Footer -->
        <footer class="footer">
          <div class="footer-inner">
            <div class="footer-info">
              <div class="footer-box">
                <h4>자기소개</h4>
                <p>JINIOUS</p>
                <p>대표: 허진희 | 연락처: 010-xxxx-xxxx</p>
              </div>
            </div>
            <p class="copyright">© 2025 MO:SI. All rights reserved.</p>
          </div>
        </footer>
      </div>
    </div>

    <!-- 삭제 알림창 -->
    <dialog id="modalDel">
      <p>삭제하시겠습니까?</p>
      <button class="btnYes">예</button>
      <button class="btnNo">아니오</button>
    </dialog>

    <!-- js -->
    <script type="module" src="/js/comment/detailForm.js"></script>
    <script type="module" src="/js/comment/comment.js"></script>
  </body>
</html>
